body {
/*   background-color: black;*/
/*   font-family: 'Zilla Slab', serif;*/
   font-size: 16px;


 }
 p {
  margin: 20px;
}

h1 {
  font-size: 30px;
/*  font-weight: 800;*/
  text-align: center;
  padding: 30px;
}


html {

   background-image: url(../img/logo_sticker.png);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  margin-top: 300px;
}
